/********************* below is nav bar compontent Css*************************/
.navbar {
  background: rgba(213, 248, 213, 0.521);
  height: 75px;
  border: 2px solid darkgreen;
}

.nav-link:hover {
  color: rgb(105, 248, 10);
}

/********************* below is footer Css*************************/
.footer {
  background: rgba(213, 248, 213, 0.521);
  height: 75px;
  border: 2px solid darkgreen;
}

/********************* below is Landing Page Css*************************/
.create-link:hover {
  color: rgba(243, 11, 11, 0.842);
  background-color: rgba(245, 245, 220, 0.411);
}
.top-banner {
  height: 200px;
  border: 2px solid darkgreen;
  background-image: url(https://thumbs.dreamstime.com/z/vector-light-grey-succulent-plant-texture-drawing-seamless-pattern-background-great-subtle-botanical-modern-backgrounds-fabric-90904464.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  opacity: 1;
  background-color: #e7e0e0;
}

.button1 {
  background-color: rgba(245, 236, 105, 0.726);
}
.button1:hover {
  background-color: rgb(248, 207, 74);
  font-weight: 400;
}
.button2 {
  color: white;
  background-color: darkgreen;
}

/* .top-banner-box1 {
  margin-left: 10px;
} */
/* .top-banner-box3 {
  margin-right: 10px;
} */

.website-name {
  font-size: 30px;
}

.middle-banner {
  height: 100px;
  background-color: rgba(213, 248, 213, 0.521);
  justify-content: space-around;
  border: 2px solid darkgreen;
}

.landing-body {
  background-image: url(https://thumbs.dreamstime.com/z/vector-light-grey-succulent-plant-texture-drawing-seamless-pattern-background-great-subtle-botanical-modern-backgrounds-fabric-90904464.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  opacity: 1;
  background-color: #e7e0e0;
}

p {
  font-size: 20px;
}

button {
  margin: 15px;
}

.bottom-banner {
  height: 250px;
  background-color: rgba(213, 248, 213, 0.521);
  border: 2px solid darkgreen;
}

/********** below is ListFavorites page Css**************/
.fav-heading {
  height: 100px;
  color: darkgreen;
  font-size: 40px;
  margin: 10px;
}

.favs-list {
  height: 600px;
  background-color: aliceblue;
}

/************* below is Dashboard Css***************/

.dashboard-container {
  background: rgb(125, 189, 189);
  height: 640px;
}

.bi-person-circle {
  height: 150px;
  /*
  position: relative;
  margin-left: 5%;
  top: 9px;*/
}
.UpdateUserInfo {
  color: darkblue;
  /*position: relative;*/
  /*margin-inline-end: 80ch;*/
}
/* .qr-code {
  
  margin-left: 60%;
  top: 10%;
} */

/************* below is SearchPlantData page Css***************/

.hide {
  display: none;
}

.search-button {
  background-color: rgb(241, 207, 120);
}
.search-button:hover {
  background-color: rgb(214, 159, 21);
}

.plant-search-container {
  background-color: rgba(14, 69, 248, 0.103);
}

.plant-div {
  border: 2px solid rgb(214, 26, 26);
}

.heart:hover {
  color: red;
}

/* li + Link {    ---this css not working 
  color: white;   
} */

/**** this is not giving highlight effect on hoover checkbox
  .col:hover input ~ .onclick{
  background-color: yellow;
}*/

/************* below is PlantCard Compontent Css***************/

/* .plant-card-container{
  height: 50px;
  width: 25px;
} */
/************* below is create user page Css***************/
.profile {
  margin: 50px;
}

.submitButton {
  width: 100px;
}
/************* below is forgotpassword page css *****************/

.sendButton {
  width: 100px;
}

#temporaryPasswordMsg {
  visibility: hidden;
}
/***********************below is edit profile page css ***************/

#editProfile {
  background-color: aquamarine;
}

/**************************below is uploadimage page css ***********/

.uploadProfileFile {
  display: block;
  width: 120px;
  height: 30px;
}

.uploadPicInput {
  display: none;
}

.uploadProfileFile {
  justify-content: center;
  margin: auto;
}

/********** below is  weatherpage Css**************/
.weather-container {
  height: 500px;
  padding: 75px;
  background-image: url("https://content.api.news/v3/images/bin/9da010285ed2df52012e9db32f3bf03b");
  background-color: rgba(8, 76, 99, 0.842);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-frame {
  border: 5px ridge rgb(127, 201, 250);
  box-shadow: 5px 10px #297dfa5b;
  height: 250px;
  width: 450px;
  background-color: rgba(184, 213, 238, 0.603);
  /* background-color: rgba(255, 255, 255, .15);  
      backdrop-filter: blur(5px); * this gives glass effect*/
}
.weather-input {
  margin-top: 10px;
  height: 40px;
}

.weather-search-button {
  color: white;
  background: blue;
  margin-top: 10px;
  height: 40px;
}

.weather-search-button:hover {
  color: rgb(247, 243, 243);
  background-color: rgba(6, 32, 102, 0.842);
}

.weather-ternary-div {
  height: 100px;
  /*border: 5px dotted rgb(242, 245, 62); */
  text-align: center;
  font-size: 20px;
  color: rgb(5, 5, 5);
}

/***************************CreateFavs Page ******************/

.fav-search-btn {
  color: white;
  background-color: blue;
  height: 30px;
}

.fav-search-btn:hover {
  color: white;
  background-color: rgb(19, 19, 88);
}

.fa-trash-alt:hover {
  color: red;
}
/***************Calendar Page************/
.widget-container {
  margin-right: 320px;
}

#calendar-container {
  margin: auto;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .weekend,
.dx-calendar-cell:not(.dx-calendar-other-month) .holyday {
  text-shadow: none;
  font-weight: bold;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .weekend {
  color: #3030ff;
}

.dx-state-disabled.dx-calendar
  .dx-calendar-cell:not(.dx-calendar-other-month)
  .weekend {
  color: #8080ff;
}

.dx-calendar-cell:not(.dx-calendar-other-month) .holyday {
  color: #ff3030;
}

.dx-state-disabled.dx-calendar
  .dx-calendar-cell:not(.dx-calendar-other-month)
  .holyday {
  color: #ff8080;
}

.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 260px;
}

.caption {
  font-weight: 500;
  font-size: 18px;
}

.option {
  margin-top: 10px;
  cursor: grab;
}

.create-favs-container {
  background-color: rgb(153, 247, 153);
  height: 700px;
  width: 700px;
  margin-top: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5%;
}

.favorites-input {
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.favs-ul {
  color: rgb(36, 136, 44);
  margin: 10px 25px;
  font-size: 25px;
}

h5 {
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  color: rgb(36, 136, 44);
}
.fav-list-item {
  height: 40px;
  text-indent: 10px;
  border-style: hidden;
  margin-top: 5px;
}

.fav-list-item:hover {
  color: white;
  background-color: rgba(103, 204, 103, 0.048);
  font-weight: 600;
}

em {
  color: white;
}
.favs-counter {
  margin-top: 100px;
}
