/********************* below is nav bar compontent Css*************************/
.navbar {
  background: rgba(213, 248, 213, 0.521);
  height: 75px;
  border: 2px solid darkgreen;
}

.nav-link:hover {
  color: rgb(105, 248, 10);
}

/********************* below is footer Css*************************/
.footer {
  background: rgba(213, 248, 213, 0.521);
  height: 75px;
  border: 2px solid darkgreen;
}

/********************* below is Landing Page Css*************************/
.create-link:hover {
  color: rgba(243, 11, 11, 0.842);
  background-color: rgba(245, 245, 220, 0.411);
}
.top-banner {
  height: 200px;
  border: 2px solid darkgreen;
  background-image: url(https://thumbs.dreamstime.com/z/vector-light-grey-succulent-plant-texture-drawing-seamless-pattern-background-great-subtle-botanical-modern-backgrounds-fabric-90904464.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  opacity: 1;
  background-color: #e7e0e0;
}

.button1 {
  background-color: rgba(245, 236, 105, 0.726);
}
.button1:hover {
  background-color: rgb(248, 207, 74);
  font-weight: 400;
}
.button2 {
  color: white;
  background-color: darkgreen;
}

.button-weather {
  color: darkblue;
  background-color: rgb(121, 239, 243);
}

.top-banner-box1 {
  margin-left: 10px;
}
.top-banner-box3 {
  margin-right: 10px;
}

.website-name {
  font-size: 30px;
}

.middle-banner {
  height: 100px;
  background-color: rgba(213, 248, 213, 0.521);
  justify-content: space-around;
  border: 2px solid darkgreen;
}

.landing-body {
  background-image: url(https://thumbs.dreamstime.com/z/vector-light-grey-succulent-plant-texture-drawing-seamless-pattern-background-great-subtle-botanical-modern-backgrounds-fabric-90904464.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
  opacity: 1;
  background-color: #e7e0e0;
}

p {
  font-size: 20px;
}

button {
  margin: 15px;
}

.bottom-banner {
  height: 250px;
  background-color: rgba(213, 248, 213, 0.521);
  border: 2px solid darkgreen;
}

/********** below is ListFavorites page Css**************/
.fav-heading {
  height: 100px;
  color: darkgreen;
  font-size: 40px;
  margin: 10px;
}

.favs-list {
  height: 600px;
  background-color: aliceblue;
}

/************* below is Dashboard Css***************/

/* .text-center {     **commented out since already used above -needs diff name
  background-color: rgba(213, 248, 213, 0.521);
  height: 200px;
} */

/************* below is SearchPlantData page Css***************/

.search-button {
  background-color: rgb(241, 205, 114);
}
.search-button:hover {
  background-color: rgba(241, 196, 82, 0.548);
}

 {
  /**** this is not giving highlight effect on hoover checkbox
  .col:hover input ~ .onclick{
  background-color: yellow;
}*/
}
/************* below is PlantCard Compontent Css***************/
.plant-card-img{
  height:auto;
  width: auto;
  border: dotted red; 

}
/************* below is create user page Css***************/
.profile {
  margin: 50px;
}

.submitButton {
  width: 100px;
}
